<h2>Register</h2>
<% if  flash[:registration_error] %>
  <span class="error"><%= flash[:registration_error] %></span>
<% end %>
<form id="registration" action="/registration" method="post">
  <label for="username">Email<input name="username"></label>
  <br>
  <label for="password">Password<input type="password" name="password"></label><br>
  <button type="submit">Register!</button>
</form>